name: Build and Publish image to Docker Hub
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  web:
    runs-on: ubuntu-latest
    env: 
      CR_REGISTRY: crpcrf7hqccqpboq6nn1
      CR_REPOSITORY: web
      IMAGE_TAG: latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Login Yandex Cloud
      id: login-cr
      uses: yc-actions/yc-cr-login@v1
      with:
        yc-sa-json-credentials: ${{ secrets.AUTHORIZED_KEY }}

    - name: Build image
      run: docker build ./web/ -t cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG
      
    - name: Push image
      run: docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG

    - name: Connect to VM via SSH
      uses: appleboy/ssh-action@master
      with:
        host: 51.250.32.125
        username: ilya997
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        port: 22
    
    - name: Run images VM
      run: |
        sudo docker login --username oauth --password ${{ secrets.OAUTH_TOKEN }} cr.yandex
        sudo docker run -dp 17602:1111 cr.yandex/crpcrf7hqccqpboq6nn1/web:latest
       
