name: Build and Publish image to Docker Hub
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  web:
    runs-on: ubuntu-latest
    env: 
      CR_REGISTRY: crpcrf7hqccqpboq6nn1
      CR_REPOSITORY: web
      IMAGE_TAG: latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Login Yandex Cloud
      id: login-cr
      uses: yc-actions/yc-cr-login@v1
      with:
        yc-sa-json-credentials: ${{ secrets.AUTHORIZED_KEY }}

    - name: Build the Docker image
      run: docker build ./web/ -t cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG
      
    - name: Push the Docker image
      run: docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG
